:root {
  --font-family: "Golos", sans-serif;
  --content-width: 968px;
  --container-offset: 20px;

  --black:          #363942;
  --white:          #FFFFFF;
  --border:         #E9EBF1;
  --red:            #D14242;
  --background-bot:  #F4F7FA;
  --icon:           #ACB2C0;
  --accent:         #FCC911;
}