.s8 {
  font-size: .8rem;
}

.s10 {
  font-size: 1rem;
}
.s12 {
  font-size: 1.2rem;
}
.s14 {
  font-size: 1.4rem;
}
.s15 {
  font-size: 1.5rem;
}
.s16 {
  font-size: 1.6rem;
}

.s18 {
  font-size: 1.8rem;
}

.s20 {
  font-size: 2rem;
}

.s22 {
  font-size: 2.2rem;
}

.lh10 {
  line-height: 1rem;
}

.lh11 {
  line-height: 1.1rem;
}

.lh12 {
  line-height: 1.2rem;
}

.lh13 {
  line-height: 1.3rem;
}

.lh14 {
  line-height: 1.4rem;
}

.lh15 {
  line-height: 1.5rem;
}

.lh16 {
  line-height: 1.6rem;
}

.lh18 {
  line-height: 1.8rem;
}

.lh20 {
  line-height: 2rem;
}

.lh21 {
  line-height: 2.1rem;
}

.lh22 {
  line-height: 2.2rem;
}

.lh24 {
  line-height: 2.4rem;
}

.lh28 {
  line-height: 2.8rem;
}

.standart {
  color: var(--tg-theme-text-color);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.upperCase {
  text-transform: uppercase;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}
