.footer {
  position: fixed;
  background-color: var(--tg-theme-bg-color);
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -4px 16px 0px #373D5A14;
  padding: 8px 0;
}

.footerBottom {
  position: relative;
  display: flex;
  min-height: 32px;
  justify-content: space-between;
  align-items: center;
}

.verticalLine {
  height: 24px;
  position: absolute;
  border-left: 2px solid var(--background-bot);
  left: calc(50% - 0.5px);
}